In [17]:
import pandas as pd

df= pd.read_csv('0000002_00005_d_0000014.txt', index_col=0) # Se realiza la carga del data frame.
df

Empty DataFrame
Columns: []
Index: [0 0.560938 0.285185 0.276042 0.129630, 0 0.327604 0.159259 0.123958 0.237037, 0 0.109896 0.077778 0.217708 0.144444, 4 0.776042 0.902778 0.077083 0.061111, 4 0.697396 0.829630 0.063542 0.085185, 4 0.652083 0.786111 0.066667 0.094444, 4 0.617188 0.757407 0.063542 0.070370, 4 0.596354 0.719444 0.067708 0.061111, 4 0.570833 0.649074 0.070833 0.064815, 4 0.555208 0.615741 0.066667 0.057407, 4 0.545313 0.579630 0.046875 0.051852, 4 0.534375 0.550926 0.050000 0.050000, 4 0.507292 0.512037 0.050000 0.053704, 4 0.502604 0.487037 0.051042 0.040741, 4 0.490104 0.466667 0.046875 0.037037, 4 0.485938 0.443519 0.051042 0.035185, 4 0.480729 0.415741 0.046875 0.038889, 4 0.468750 0.402778 0.043750 0.035185, 4 0.459896 0.387037 0.044792 0.037037, 4 0.435937 0.364815 0.042708 0.033333, 2 0.055208 0.748148 0.014583 0.048148, 4 0.477083 0.842593 0.077083 0.081481, 4 0.417708 0.672222 0.066667 0.062963, 4 0.452083 0.801852 0.075000 0.085185, 4 0.446875 0.761111 0.072917 0.066667, 4 0.429688 0.709259 0.073958 0.070370, 4 0.402083 0.606481 0.060417 0.057407, 4 0.402083 0.572222 0.056250 0.040741, 5 0.384896 0.550000 0.044792 0.051852, 4 0.386458 0.519444 0.054167 0.035185, 5 0.385417 0.498148 0.062500 0.033333, 4 0.381250 0.477778 0.054167 0.029630, 5 0.373958 0.448148 0.056250 0.040741, 5 0.359896 0.417593 0.046875 0.046296, 6 0.353646 0.389815 0.046875 0.057407, 4 0.347917 0.362037 0.037500 0.027778, 4 0.343750 0.347222 0.045833 0.031481, 4 0.378646 0.318519 0.038542 0.033333, 4 0.413542 0.324074 0.027083 0.040741, 10 0.054167 0.752778 0.018750 0.031481, 3 0.344792 0.314815 0.014583 0.011111, 4 0.392708 0.281481 0.031250 0.033333, 4 0.341667 0.291667 0.037500 0.027778, 4 0.284375 0.734259 0.031250 0.079630, 7 0.236458 0.670370 0.018750 0.051852, 4 0.271354 0.577778 0.023958 0.055556, 8 0.013542 0.583333 0.027083 0.062963, 4 0.046875 0.544444 0.025000 0.055556, 4 0.062500 0.475926 0.027083 0.051852, 5 0.089583 0.400000 0.029167 0.051852, 4 0.098438 0.245370 0.015625 0.027778, 4 0.184896 0.221296 0.015625 0.024074, 4 0.113021 0.162037 0.013542 0.024074, 1 0.434896 0.391667 0.005208 0.016667, 1 0.450000 0.376852 0.008333 0.024074, 11 0.248437 0.741667 0.013542 0.057407, 2 0.247917 0.739815 0.008333 0.031481, 1 0.921875 0.491667 0.012500 0.035185, 1 0.938542 0.432407 0.008333 0.031481, 2 0.065104 0.650000 0.011458 0.037037, 3 0.064062 0.656482 0.013542 0.035185, 1 0.062500 0.598148 0.010417 0.037037, 3 0.062500 0.604630 0.014583 0.024074, 1 0.245312 0.450000 0.007292 0.025926, 1 0.250000 0.450000 0.006250 0.025926, 2 0.204688 0.447222 0.007292 0.024074, 10 0.205729 0.456481 0.011458 0.020370, 2 0.188542 0.442593 0.006250 0.018519, 10 0.188542 0.450000 0.008333 0.022222, 2 0.125521 0.384259 0.007292 0.020370, 10 0.126563 0.392593 0.007292 0.022222, 1 0.066146 0.402778 0.009375 0.024074, 1 0.093750 0.375000 0.008333 0.031481, 1 0.231771 0.227778 0.007292 0.018519, 10 0.204167 0.192593 0.006250 0.018519, 2 0.145833 0.221296 0.006250 0.016667, 2 0.115625 0.204630 0.004167 0.012963, 10 0.116146 0.211111 0.005208 0.014815, 8 0.095312 0.200926 0.009375 0.024074, 2 0.118750 0.193519 0.004167 0.016667, 1 0.067188 0.535185 0.011458 0.033333, 5 0.097917 0.159259 0.010417 0.018519, 10 0.144792 0.227778 0.006250 0.014815, 10 0.886979 0.925926 0.021875 0.048148, 0 0.967708 0.325000 0.035417 0.135185, 2 0.236458 0.649074 0.008333 0.020370, 2 0.346354 0.308333 0.007292 0.020370]

[87 rows x 0 columns]

In [18]:
df= pd.read_csv('0000002_00005_d_0000014.txt', index_col=0, header=None) # Se realiza la carga del data frame.
df

Empty DataFrame
Columns: []
Index: [0 0.854688 0.122222 0.284375 0.214815, 0 0.560938 0.285185 0.276042 0.129630, 0 0.327604 0.159259 0.123958 0.237037, 0 0.109896 0.077778 0.217708 0.144444, 4 0.776042 0.902778 0.077083 0.061111, 4 0.697396 0.829630 0.063542 0.085185, 4 0.652083 0.786111 0.066667 0.094444, 4 0.617188 0.757407 0.063542 0.070370, 4 0.596354 0.719444 0.067708 0.061111, 4 0.570833 0.649074 0.070833 0.064815, 4 0.555208 0.615741 0.066667 0.057407, 4 0.545313 0.579630 0.046875 0.051852, 4 0.534375 0.550926 0.050000 0.050000, 4 0.507292 0.512037 0.050000 0.053704, 4 0.502604 0.487037 0.051042 0.040741, 4 0.490104 0.466667 0.046875 0.037037, 4 0.485938 0.443519 0.051042 0.035185, 4 0.480729 0.415741 0.046875 0.038889, 4 0.468750 0.402778 0.043750 0.035185, 4 0.459896 0.387037 0.044792 0.037037, 4 0.435937 0.364815 0.042708 0.033333, 2 0.055208 0.748148 0.014583 0.048148, 4 0.477083 0.842593 0.077083 0.081481, 4 0.417708 0.672222 0.066667 0.062963, 4 0.452083 0.801852 0.075000 0.085185, 4 0.446875 0.761111 0.072917 0.066667, 4 0.429688 0.709259 0.073958 0.070370, 4 0.402083 0.606481 0.060417 0.057407, 4 0.402083 0.572222 0.056250 0.040741, 5 0.384896 0.550000 0.044792 0.051852, 4 0.386458 0.519444 0.054167 0.035185, 5 0.385417 0.498148 0.062500 0.033333, 4 0.381250 0.477778 0.054167 0.029630, 5 0.373958 0.448148 0.056250 0.040741, 5 0.359896 0.417593 0.046875 0.046296, 6 0.353646 0.389815 0.046875 0.057407, 4 0.347917 0.362037 0.037500 0.027778, 4 0.343750 0.347222 0.045833 0.031481, 4 0.378646 0.318519 0.038542 0.033333, 4 0.413542 0.324074 0.027083 0.040741, 10 0.054167 0.752778 0.018750 0.031481, 3 0.344792 0.314815 0.014583 0.011111, 4 0.392708 0.281481 0.031250 0.033333, 4 0.341667 0.291667 0.037500 0.027778, 4 0.284375 0.734259 0.031250 0.079630, 7 0.236458 0.670370 0.018750 0.051852, 4 0.271354 0.577778 0.023958 0.055556, 8 0.013542 0.583333 0.027083 0.062963, 4 0.046875 0.544444 0.025000 0.055556, 4 0.062500 0.475926 0.027083 0.051852, 5 0.089583 0.400000 0.029167 0.051852, 4 0.098438 0.245370 0.015625 0.027778, 4 0.184896 0.221296 0.015625 0.024074, 4 0.113021 0.162037 0.013542 0.024074, 1 0.434896 0.391667 0.005208 0.016667, 1 0.450000 0.376852 0.008333 0.024074, 11 0.248437 0.741667 0.013542 0.057407, 2 0.247917 0.739815 0.008333 0.031481, 1 0.921875 0.491667 0.012500 0.035185, 1 0.938542 0.432407 0.008333 0.031481, 2 0.065104 0.650000 0.011458 0.037037, 3 0.064062 0.656482 0.013542 0.035185, 1 0.062500 0.598148 0.010417 0.037037, 3 0.062500 0.604630 0.014583 0.024074, 1 0.245312 0.450000 0.007292 0.025926, 1 0.250000 0.450000 0.006250 0.025926, 2 0.204688 0.447222 0.007292 0.024074, 10 0.205729 0.456481 0.011458 0.020370, 2 0.188542 0.442593 0.006250 0.018519, 10 0.188542 0.450000 0.008333 0.022222, 2 0.125521 0.384259 0.007292 0.020370, 10 0.126563 0.392593 0.007292 0.022222, 1 0.066146 0.402778 0.009375 0.024074, 1 0.093750 0.375000 0.008333 0.031481, 1 0.231771 0.227778 0.007292 0.018519, 10 0.204167 0.192593 0.006250 0.018519, 2 0.145833 0.221296 0.006250 0.016667, 2 0.115625 0.204630 0.004167 0.012963, 10 0.116146 0.211111 0.005208 0.014815, 8 0.095312 0.200926 0.009375 0.024074, 2 0.118750 0.193519 0.004167 0.016667, 1 0.067188 0.535185 0.011458 0.033333, 5 0.097917 0.159259 0.010417 0.018519, 10 0.144792 0.227778 0.006250 0.014815, 10 0.886979 0.925926 0.021875 0.048148, 0 0.967708 0.325000 0.035417 0.135185, 2 0.236458 0.649074 0.008333 0.020370, 2 0.346354 0.308333 0.007292 0.020370]

[88 rows x 0 columns]

In [19]:
df= pd.read_csv('0000002_00005_d_0000014.txt', index_col=0, header=header) # Se realiza la carga del data frame.
header= ['Clase','X posición','Y posición','Ancho','Alto']

NameError: name 'header' is not defined

In [20]:
header= ['Clase','X posición','Y posición','Ancho','Alto']
df= pd.read_csv('0000002_00005_d_0000014.txt', index_col=0, header=header) # Se realiza la carga del data frame.

ValueError: header must be integer or list of integers

In [21]:
clear all

df= pd.read_csv('0000002_00005_d_0000014.txt', index_col=0, header=None) # Se realiza la carga del data frame.

SyntaxError: invalid syntax (<ipython-input-21-c09f2d0a2647>, line 1)

In [46]:
df= pd.read_csv('0000002_00005_d_0000014.txt', delimiter=' ',index_col=None, header=None ) # Se realiza la carga del data frame.
df

     0         1         2         3         4
0    0  0.854688  0.122222  0.284375  0.214815
1    0  0.560938  0.285185  0.276042  0.129630
2    0  0.327604  0.159259  0.123958  0.237037
3    0  0.109896  0.077778  0.217708  0.144444
4    4  0.776042  0.902778  0.077083  0.061111
..  ..       ...       ...       ...       ...
83  10  0.144792  0.227778  0.006250  0.014815
84  10  0.886979  0.925926  0.021875  0.048148
85   0  0.967708  0.325000  0.035417  0.135185
86   2  0.236458  0.649074  0.008333  0.020370
87   2  0.346354  0.308333  0.007292  0.020370

[88 rows x 5 columns]

                  0         1         2         3         4
0   ignored regions  0.854688  0.122222  0.284375  0.214815
1   ignored regions  0.560938  0.285185  0.276042  0.129630
2   ignored regions  0.327604  0.159259  0.123958  0.237037
3   ignored regions  0.109896  0.077778  0.217708  0.144444
4               car  0.776042  0.902778  0.077083  0.061111
..              ...       ...       ...       ...       ...
83            motor  0.144792  0.227778  0.006250  0.014815
84            motor  0.886979  0.925926  0.021875  0.048148
85  ignored regions  0.967708  0.325000  0.035417  0.135185
86           people  0.236458  0.649074  0.008333  0.020370
87           people  0.346354  0.308333  0.007292  0.020370

[88 rows x 5 columns]

In [72]:
df.iloc[:,0:1] # se selecciona la columna de interés

     0
0    0
1    0
2    0
3    0
4    4
..  ..
83  10
84  10
85   0
86   2
87   2

[88 rows x 1 columns]

In [74]:
lista_clases=df[0].tolist() # se convierte la columna en una lista
len(lista_clases)# verifico la cantidad de elementos de la lista

88

In [76]:
df.lista_clases.unique()

AttributeError: 'DataFrame' object has no attribute 'lista_clases'